    /*DOCUMENT INFORMATION
    - Document: Fruit thème
    - version: 1.0.0
    - Author: QL

*/

    /*COLORS
    -defaut body text
    -h1
    -h2
    -h3

    - button
    - button: hover

*/

    /*FONTS
    -default
    -subtitle
*/

    /* CSS DIRECTORY
    1. =GLOBAL
    2. =HEADER
    3. =PRODUITS
*/


    /*GLOBAL
===========================================*/

html {
    background-color: white;
}

    h1, h2, h3, h4 {
    font-family: 'Oswald', 'Arial', 'sans-serif';
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 300, 400, 500;
    word-spacing: 8px;
}

h1{
    color: #eeeeee;
}


h2{
    color: #333333;
    font-size: 250%;
    text-align: center;
    margin-top: 40px ;
    margin-bottom: 30px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: green ;
    width: 100px;
    content: "" ;
    margin: 0 auto;
    margin-top: 10px;
}

h3{
    font-size: 160%;
}

p{
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
}

section{
    padding: 30px 0 60px 0;
}


    /*HEADER
===========================================*/

header {
    background-image: linear-gradient(brown,orange),
        url(/ressources/image/gallerie/teas.jpeg );
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.home-title {
    position: absolute;
    top: 30%;
}

.home-title h1 {
    font-size: 350%;
    color: rgb(245, 181, 43);

}

.home-title h1 span {
    font-weight: 700;
}

.home-title p {
    color: white;
    font-size: 20px;
}

    /*Button*/

.btn {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 1s, color 1s, border 1s;
    }

.btn-full {
    background-color: darkgoldenrod;
    color: white;
    margin-right: 15px;
    }

.btn-ghost {
    border: 1px solid darkmagenta;
    color: white;
}    

    .btn-full:hover {
    background-color: darkmagenta;
    color: white;
}

    .btn-ghost:hover {
    background-color: darkmagenta;
    color: white
}

    /*PRODUITS
===========================================*/

.produit-plus{
    margin: 20px 0;
}

.produit-plus:hover .produit-icon{
    transform: translateX(20px);
    color: grey;
}

.produit-img{
    max-width: 100%;
    height: auto;
}

.produit-icon {
    font-size: 34px;
    color: green;
    transition: 1s;
}

    /*FAMILLES THE
===========================================*/

.famille-the{
    background-color: #cdf6e1;
}

.famille-details{
    background-color: white;
    padding: 30px 40px;
    box-shadow: 0 0 10px;
}

.famille-details img{
    display: block;
    margin: 0 auto;
    width: 80%;
}

.famille-details h4{
    text-align: center;
}

/*GALERIES PHOTOS
============================================*/

.galeries-img{
    display: block;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    margin-bottom: 30px;
    height: 300px;
}

.galeries-title{
    position: absolute;
    bottom: 40px;
    left: 40px;
}

.galeries-title h4{
    color: white;
}

/*CLIENTS
============================================*/

.clients{
    background-image:linear-gradient(brown,orange),
        url(/ressources/image/gallerie/the-paysage.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.clients-title h2{
    color: white;
}

.clients h2:after{
        background-color: white;
    }

blockquote{
    padding: 5px;
    font-style: italic;
    line-height: 130%;
    color: white;
}

blockquote::before{
    content:\201C;
    font-size: 800%;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 35px;
    left: 5px;
    color: rgba(255, 255, 255, 0.6);

}

cite{
    font-size: 90%;
    display: block;
    margin-top: 20px;
}

cite img {
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}